@charset "UTF-8";

/* ------------컨텐츠 (책 소개)---------------- */
#book_img {
    float: left;
    width: 220px;
    height: 300px;
    margin-right: 50px;
    box-shadow: 8px 8px 8px rgb(172, 172, 172);
}

#book_detail {
    float:left;
}

/* 책 제목 */
#book_detail>h1 {
    font-family: 'MaruBuri';
    font-size: 25px;
    color: #707070;
    margin: 10px 0px 20px 0px;
    width: 550px;
}

/* 책 저자 */
#book_detail>h3 {
    font-family: 'MaruBuri';
    font-size: 20px;
    color: #B4B4B4;
    margin: 0px 0px 20px 0px;
}

/* 서평수txt */
#book_review {
    margin: 20px 0px 20px 0px;
}

.review_count {
    font-family: 'MaruBuri';
    font-size: 20px;
    color: #adaaaa;
    margin-right: 10px;
}

.review_num {
    font-family: 'MaruBuri';
    font-size: 20px;
    font-weight: bold;
    color: #666666;
    
}

#btn_review>button{
    padding: 10px 40px 10px 40px;
    margin: 5px;
    border-radius: 10px;
}

#btn_review>button>div>botton{
    padding: 10px 40px 10px 40px;
    margin: 5px;
    border-radius: 10px;
}

#bookmark {
	display: inline-block;
}

#bookmark>button{
	padding: 10px 40px 10px 40px;
    margin: 5px;
    border-radius: 10px;
}


#btn_write {
    float:right;
    padding: 10px 60px 10px 60px;
    background-color: #2699fb;
    border-style: none;
    border-radius: 10px;
}

#list>ul {
    margin-left: 25px;
    cursor: pointer;
    font-size: 14px;
}

#list>ul>li{
    margin: 0px 15px 0px 5px;
    float: left;
    color: #309BF8;
}
#list>ul>li span{
    position:relative;
    left:-0.5em;
    color: #707070;
}
#list>span{
    text-align: right;
    margin: 0px 5px 0px 430px;
}

/* ------------컨텐츠 (책서평)---------------- */
#contents_review>ul>li {
    float:left;
    margin: 0px 30px 0px 0px;
}

.review_list {
    margin: 0px 0px 0px 40px;
    font-size: 15px;
}

.jumbotron {
    border-radius: 15px;
    margin: 15px 0px 0px 0px;
    padding: 45px 80px 45px 80px;
    background-color: #F7F7F7;
}

.jumbotron>div>h3 {
    font-size: 20px;
    font-weight: bold;
    color: #666666;

    margin-bottom: 25px;
    display: inline;
}

.jumbotron>div>p {
    color: #adaaaa;
    margin-top: 10px;
    font-size: 16px;
}

#review_first{
    border-bottom : 2px solid #e4e4e4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.review_modify {
    float: right;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;    
}

#review_first span a {
    color: #707070;
    font-weight: bold;
    font-size: 20px;
}

#review_first>span {
    /* background-color: #2699fb; */
    color: rgb(189, 189, 189);
    padding: 3px 3px 0px 0px;
}

.review_nick {
    display: block;
    font-size: 20px;
    color: #B4B4B4;

    margin-top: 10px;
}

#tag_btn {
    background-color: #2699FB;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}

.review_like {
    margin: 5px;
    color: #ABAAAC;
    font-size: 15px;
}

.icon-success {
    font-size: 13px;
}

#btn_like {
    cursor: pointer;
    color: #2699FB;
    font-size: 15px;
}

/* 더보기 */

.dropup>a{
    color: #B4B4B4;
}

#review_second .dropup{
    display: inline-block;
    margin-left: 10px; 
}

#review_second .dropup :hover{
    cursor: pointer;
}
#review_second .dropup li a{
    color:#707070 !important;
    padding: 3px 10px !important;
    width: 180px;
}

.dropup li a span{
    float:right;
    padding-right: 10px;
}

#review_second #plus{
    font-size: 20px;
}

.radius-15 {
    border-radius: 15px;
}



/* 말줄임 */
.multiline-ellipsis {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;

    word-wrap : break-word; 
    text-align : left; 
    line-height: 1.2;

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    /* 폰트 */
    color: #707070;
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 15px;

    width: 660px;
    height: 60px;
}

.pageWrap {
     text-align : center;
}

#contents {
    padding: 10px 0px 40px 0px;
    margin-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e4e4e4;
}

/* --------------footer------------- */
#footer {
    margin: 50px 0px 60px 0px;
    border-top : 2px solid #e4e4e4;
    padding: 15px 0px 0px 0px;
    color: #666666;
}
#footer>div{
    float: left;
}
#footer>a {
    float: right;
    margin: 18px 10px 0px 0px;
}

/* --------------연습 */


