@charset "UTF-8";


/* ------------cover---------------- */

#playlist-cover {
    height: 250px;
    padding: 50px 60px 50px 60px;
    color: #ffffff;
    font-size: 18px;
    background-color: #34293C;
    overflow:auto;
}

#playlist-title{
    color:#FDC3EA;
    font-size: 30px;
    width: 400px;
    height: 50px;
    margin: 15px 0px 15px 0px;

}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

#btn-cover{
    padding-top: 50px;
}

#btn-cover>button {
    width: 150px;

    margin-right:20px;
    color: #fff;
    background-color: #ffffff48;
    border-color: #ffffff00;
    font-size: 18px;
    border-radius: 15px;
}

.btn-link{
    display: block;
    color: #B4B4B4;
    font-size: 18px;
}

/* 서평추가하기 */
#playlist-add{
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
}

/* 서평추가하기 */
#playlist-add{
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
}

#middle-content{
    margin: 25px auto;
    width: 950px;
}

/* 전체선택, 선택 삭제 버튼 */
#btnwrap-delete{
    display: block;
    float: right;
}


/* ------------컨텐츠 (책서평)---------------- */
#review-wrap{
    width: 1000px;
    margin: 0px auto;
}

#contents_review>ul>li {
    float:left;
    margin: 0px 30px 0px 0px;
}

.review_list {
    margin: 0px 0px 0px 40px;
    font-size: 15px;
}

.jumbotron {
    border-radius: 15px;
    margin: 15px 0px 0px 0px;
    padding: 25px 80px 25px 80px;
    background-color: #F7F7F7;
    height: 250px;
}

.jumbotron>div>div>h3>a {
    font-size: 20px;
    font-weight: bold;
    color: #666666;

    margin-bottom: 25px;
    display: inline;
}

.jumbotron>div>div>p {
    color: #adaaaa;
    margin-top: 10px;
    font-size: 16px;
}

#review_first{
    border-bottom : 2px solid #e4e4e4;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.review_modify {
    float: right;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;    
}

#review_first span a {
    color: #707070;
    font-weight: bold;
    font-size: 20px;
}

#review_first>span {
    /* background-color: #2699fb; */
    color: rgb(189, 189, 189);
    padding: 3px 3px 0px 0px;
}

.review_nick {
    display: block;
    font-size: 16px;
    color: #B4B4B4;

    margin-top: 10px;
}

#tag_btn {
    background-color: #2699FB;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}

.review_like {
    margin: 5px;
    font-size: 15px;
    color: #ABAAAC;
}

#page {
   text-align: center;
}

.icon-success {
    cursor: pointer;
    color: #2699FB;
    font-size: 15px;
}
/* 
#btn_like {
    cursor: pointer;
    color: #2699FB;
    font-size: 15px;
} */

.latest-order {
    font-weight: bold;
}

/* 체크박스 */
#checkbox {
	margin: 10px 0px 0px 10px; 
}



/* 더보기 */

.dropup>a{
    color: #B4B4B4;
}

#review_second .dropup{
    display: inline-block;
    margin-left: 10px; 
}

#review_second .dropup :hover{
    cursor: pointer;
}
#review_second .dropup li a{
    color:#707070 !important;
    padding: 3px 10px !important;
    width: 180px;
}

.dropup li a span{
    float:right;
    padding-right: 10px;
}

#review_second #plus{
    font-size: 20px;
}

.radius-15 {
    border-radius: 15px;
}

/* 말줄임 */
.multiline-ellipsis {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;

    word-wrap : break-word; 
    text-align : left; 
    line-height: 1.2;

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    /* 폰트 */
    color: #707070;
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 15px;

    width: 660px;
    height: 60px;
}

.btn-active {
    background-color: #2699fb !important;
    color: #ffffff !important;
}

.txt-center {
	text-align: center;
}

.empty-box {
	text-align: center;
	font-size: 16px;
	color: #707070;
}