@charset "UTF-8";


/* ---------css 소스---------- */

/* 버튼 및 색상 */
.main-btn {
    background-color: #2699fb;
    color: white;
}

.bold {font-weight: bold;}

/* 곡선 */
.r-20 {border-radius: 20px;}

.blue-1 {background-color: #88c6fd;}
.blue-2 {background-color: #2699fb;}
.blue-3 {background-color: #006cca;}

.gray-s {background-color: #ececec;}
.gray-ss {background-color: #F7F7F7;}
.gray-m {background-color: #B4B4B4;}
.red {background-color: rgb(228, 90, 90);}
.green {background-color: green;}
.yellow {background-color: rgb(247, 247, 112);}

/* 폰트 색상*/
.title-font-color {color: #707070;}
.content-font-color{color: #adaaaa;}
.font-color-w {color: #ffffff;}
.font-gray-plus {color: #B4B4B4;}

.font_blue_1 {color: #BEDDF8;}
.font_blue_2 {color: #2699fb;}
.font_blue_3 {color: #006cca;}
.font_red {color: rgb(228, 90, 90);}

/* 폰트 사이즈 */
.txt-mm {font-size: 25px;}
.txt-m {font-size: 20px;}
.txt-18{font-size: 18px;}
.txt_ms {font-size: 16px;}
.txt_ss {font-size: 12px;}
.txt_b {font-size: 50px; }

/* 폰트 기본 간격 */
.margin-t5 {margin-top: 5px;}

/* 폰트 굵기 */
.txt-b {font-weight: bold;}

/* 가운데 정렬 */
.txt-center {text-align: center;}

/* float */
.float-l {float:left;}
.float-r {float:right;}

/* 기본 마진 */
.margin-30 {margin: 30px}
.margin-b-15 {margin-bottom: 15px;}
.margin-r-15 {margin-right: 15px;}

/* 패딩 */
.padding-20 {padding: 20px;}

/* 유저 사진 아이콘 */
.img-icon {
    width: 25px;
    height: 25px;
}

/* 박스 테두리 제거 */
.line-none {border-style: none;}

/* 박스 테두리 */
.box-line {border-style: 1px solid #8f8c8c;}


.pageWrap {
     text-align : center;
}

#contents {
    padding: 10px 0px 40px 0px;
    margin-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e4e4e4;
}


