@charset "UTF-8";


/* 더보기 : 서평공유 모달창 */
#kakao-link-btn>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left:  80px;
}

.modal-body>p {
    text-align: center;
    font-size: 18px;
    margin: 30px;
}

.modal-body {
    margin: 40px 40px 40px 40px;
    height: 60rem;
    overflow: scroll;
}

.modal-body>a {
    margin-right: 25px;
}

#facebook-link-btn>img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#twitter-link-btn>img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#kakaostory-link-btn>img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/* 더보기 : 플리추가 모달창 */
.modal-container {
    width: 100%;
    background-color: none;
    /****************/
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.modalHeader .title {
    font-weight: bold;
}

.modalHeader .closeBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.modal-search {
    padding-bottom: 1.3rem;
    position: relative;
}

.modal-search input {
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 1.5rem;
    border: 2px solid #666666;
}

.modal-search:after {
    content: "\f002";
    z-index: 2;
    color: #666666;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.modal-playlist ul {
    list-style: none;
    padding: 0 1rem;
}

.modal-playlist ul .list {
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid rgb(196, 195, 195);
}

.modal-playlist .img-container {
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
    background-color: pink;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin-right: 1.5rem;
    cursor: pointer;
}

.modal-playlist .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    padding: 10px;
}

.modal-playlist .info-container .tagBtn {
    background-color: rgb(218, 243, 250);
    border: 1px solid rgb(218, 243, 250);
    color: rgb(0, 132, 255);
    border-radius: 0.5rem;
    width: fit-content;
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
}

.modal-playlist .info-container .playlist-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #666666;
}

.modal-playlist .info-container .username {
    font-weight: bold;
    color: rgb(75, 75, 75);
    font-family: 'Nanum Myeongjo';
}

.paging {
    display: flex;
    justify-content: center;
}

